
<h1><a href="{% url 'todo:list' %}">Todo List</a></h1>

<div class="header-bar">
    {% if user.is_authenticated %}
        <span>안녕하세요.<strong>{#{username}}</strong></span>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">로그아웃 </button></a>
        </form>
        <a href="{% url 'todo:create' %}">+ 새 할일 추가</a>

    {%else%}
    
        <a href="{% url 'login' %}">로그인</a>
        <a href="{% url 'signup' %}">회원가입</a>
    {%endif%}

</div>