{% extends "todo/base.html" %}
{% load static %}
{% block content %}

<ul>
    {%for todo in todos%} 
    <li>
        <div class="{% if todo.complete %}complete{%endif%}"> <!--조건과 맞으면 가운데 줄긋기 .--> 
            <a href="{% url 'todo:detail' todo.pk %}">{{todo.name}}</a>
            {% if todo.complete %}
            <span>(완료)</span>
            {% endif %}
        </div>

        <div> <!--권한부여-->
            <a href="#">수정</a>
            <a href="#">삭제</a>
        </div>
    
    </li>
    {%endfor%}
</ul>

{% endblock %}